body {
    background-color: #0d1117;
    color: #fff;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
}

.app-container {
    max-width: 1280px;
}

.profile-container {
    width: 100%;
    margin-bottom: 0px;
}

.nav-link {
    text-decoration: none;
    color: rgba(255,255,255,.55);
}

.nav-link:hover {
    color: #c9d1d9;
}

.nav-link.active {
    color: #fff;
}

.main-content-container {
    margin-bottom: 0px;
    width: 100%;
}
@media (min-width: 768px){
    .profile-container {
        width: 25%;
        margin-bottom: 0px;
    }

    .main-content-container {
        margin-bottom: 0px;
        width: 75%;
    }
}
