body {
  background-color: #0d1118;
  color: #fff;
}

.bkg-dark {
    background-color: #0d1118 ;
}

.gh-border-dark {
    border: solid 2px #30363d;
}

.gh-border-bottom-dark {
    border-bottom: solid 2px #30363d;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
}

.app-container {
  max-width: 1280px;
}

.profile-container {
  width: 100%;
  margin-bottom: 0px;
}

.main-nav > .nav-item {
  width: 25%;
}

.nav-link {
  text-align: center;
}

.show-name {
  display: none;
}

.hide-name {
  display: none;
}

a,
.nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
}

a:hover,
.nav-link:hover {
  color: #c9d1d9;
}

a .active,
.nav-link.active {
  color: #fff;
  border-bottom: #f78166 2px solid;
}

.main-content-container {
  margin-bottom: 0px;
  width: 100%;
}

.navbar-element {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.footer-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.github-svg{
    display: none!important;
    fill: #30363d;
    padding: 8px 16px;
    font-size: 12px;
}
@media (min-width: 1166px){
    .github-svg{
        display: block!important;
    }
}

@media (min-width: 768px) {
  .profile-container {
    width: 25%;
    margin-bottom: 0px;
  }

  .main-content-container {
    margin-bottom: 0px;
    width: 75%;
  }

  .show-name {
    height: 50px;
    width: 25%;
    text-align: center;
      display: flex;
      align-items: center;
      background-color: #0d1117;
      pointer-events: none;
      position: fixed;
      top: 0;
      transition: 0.5s;
      word-break: break-all;
      z-index: 90;
    }
}
